<script type="text/javascript">
  window.onload = function () {
    var text_area = document.getElementById('js-text-area');
    var output_field = document.getElementById('js-symbols-counter');
    function _eventHendler() {
      var length = text_area.value.length;
      output_field.innerHTML = length > 0 ? length + '/140' : '140';
    }

    _eventHendler();
    text_area.onchange = _eventHendler;
    text_area.onkeyup = _eventHendler;
  }
</script>
<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...", id: "js-text-area" %>
  </div>
  <div class="raw">
    <div class="muted pull-right" id="js-symbols-counter">140</div>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
